[Unit]
Description=LSB: start Zware-Local Service 
After=systemd-networkd
Conflicts=shutdown.target

[Service]
Type=forking
ExecStart=/etc/init.d/zware-service start
ExecStop=/etc/init.d/zware-service stop
RestartSec=3
Restart=on-failure

[Install]
WantedBy=multi-user.target

