#[Unit]
#SourcePath=/etc/init.d/6lbr
#Description=LSB: 6LoWPAN Border Router
#After=network-online.target
#Wants=network-online.target
#
#[Service]
#Type=forking
#Restart=no
#TimeoutSec=5min
#IgnoreSIGPIPE=no
#KillMode=process
#GuessMainPID=no
#RemainAfterExit=yes
#ExecStart=/etc/init.d/6lbr start
#ExecStop=/etc/init.d/6lbr stop
#ExecReload=/etc/init.d/6lbr reload
#
#[Install]
#WantedBy=multi-user.target
#
