[Unit]
Description=GPIO service
Requires=mosquitto.service
After=mosquitto.service
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/marty/gpio_service/src/gpioRun.py
#ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -HUP $MAINPID
RestartSec=3
Restart=on-failure

[Install]
WantedBy=multi-user.target
