[Unit]
Description=Mongodb
After=mosquitto.service network.target
#Before=basecon.service
#BindsTo=mosquitto.service

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=yes 
EnvironmentFile=/etc/mongodb.env
ExecStartPre=/bin/mkdir -p /var/lib/mongodb
#ExecStart=/usr/bin/mongod --config /etc/mongodb.conf
ExecStart=/usr/bin/mongod $DAEMON_OPTS
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

