[Unit]
Description=call iproute2 to make a bridge
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/odroid-auto-bridge up
ExecStop=/usr/bin/odroid-auto-bridge down

[Install]
WantedBy=default.target
