[Unit]
Description=RSMB MQTT broker
After=mosquitto.service network.target
Before=6lbr.service
BindsTo=mosquitto.service

[Service]
Type=simple
Restart=on-failure
ExecStartPre=/bin/bash /home/marty/route.sh
ExecStart=/home/marty/rsmb/broker_mqtts -c /home/marty/rsmb/broker.cfg
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
