[Unit]
Description=LSB: start Z/IP Gateway (zipgateway)
After=systemd-networkd
Wants=systemd-networkd
Conflicts=shutdown.target

[Service]
Type=forking
Restart=on-failure
RemainAfterExit=yes
ExecStartPre=
ExecStart=/etc/init.d/zipgateway start
ExecStop=/etc/init.d/zipgateway stop

[Install]
WantedBy=multi-user.target

