[Unit]
Description=LSB: start Z/IP Gateway (zipgateway)
Requires=network.target
After=network.target
Conflicts=shutdown.target

[Service]
Type=forking
ExecStart=/etc/init.d/zipgateway start
ExecStop=/etc/init.d/zipgateway stop
RestartSec=3
Restart=on-failure

[Install]
WantedBy=multi-user.target

