[Unit]
Description=Zware-installation
After=zipgateway.service network.target

[Service]
Type=oneshot
RemainAfterExit=no 
ExecStart=/home/marty/zwarelocal-install.sh

[Install]
WantedBy=multi-user.target

