[Unit]
Description=LSB:Zware-Local Service 
Requires=zipgateway.service
After=zipgateway.service
Wants=zipgateway.service basecon.service
Before=basecon.service
Conflicts=shutdown.target

[Service]
Type=forking
KillSignal=SIGHUP
ExecStart=/etc/init.d/zware-service start
ExecStop=/etc/init.d/zware-service stop
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target

